:root{
    --bg-color: #201e1e;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif ;
}
.main{
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    background: var(--bg-color);
    overflow:hidden;
}
.main .circle{
    width: 300px;
    height: 300px;
    background:linear-gradient(25deg, cyan 20%, var(--bg-color), var(--bg-color));
    border-radius: 50%;
    animation: rotate 1s linear infinite;
    display: grid;
    justify-content: center;
    align-content: center;
    box-shadow: inset 0 0 50px var(--bg-color);
}
@keyframes rotate {
    to{
        transform: rotate(360deg);
    }
}
.main .circle::after{
    content: '';
    width: 225px;
    height: 225px;
    background-color: var(--bg-color);
    border-radius: 50%;
    box-shadow: 0 0 20px var(--bg-color);

}